.img_fluid {
    width: 100%;
}

.img_bg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

.services_sec {
    text-align: center;
    padding: 40px 0;
}

.services_sec h3 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 20px;
}

.services_sec p {
    font-size: 28px;
    margin: 0 50px 70px;
    padding: 0 80px;
}

.services_sec .row {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 -15px;
}

.services_sec .column {
    flex: 1 0 28%;
    background-color: #5a6d79;
    border-radius: 60px;
    padding: 70px 25px 50px !important;
    margin: 0 15px;
    height: 500px;
}

.services_sec .column:hover {
    background-color: #3d80a7;
    background-image: none !important;
}

.services_sec .column img {
    max-width: 180px;
    /* height: 180px; */
    object-fit: contain;
}

.services_sec .column p {
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 40px;
    padding: 0;
    line-height: normal;
}

.services_sec .column .hover_txt {
    display: none;
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
}

.services_sec .column:hover img {
    display: none;
}

.services_sec .column:hover .hover_txt {
    display: block;
}

.services_sec .slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li button:before {
    color: #000;
}

.slick-prev,
.slick-next {
    color: #000;
    width: 34px;
    height: 34px;
}

.services_sec .row .slick-prev {
    left: 0;
}

.services_sec .row .slick-next {
    right: 0;
}

.slick-next:before {
    content: '>';
}

.slick-prev:before {
    content: '<';
}

.slick-prev:before,
.slick-next:before {
    font-size: 34px;
    opacity: 1;
    color: #000;
    font-family: fantasy;
}

@media (min-width: 768px) {
    .slick-slider {
        display: none;
    }
}



@media only screen and (max-width: 767px) {

    .services_sec h3,
    .ourwork_sec h3 {
        font-size: 44px;
    }

    .ServicesBlocksContent {
        display: block;
    }

    .services_sec p,
    .ourwork_sec p {
        font-size: 20px;
        margin: 0 0 30px;
        padding: 0;
    }

    .services_sec .row {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin: 0;
    }

    .services_sec .column {
        flex: 1 1 100%;
        padding: 30px 25px 30px !important;
        margin: 0 40px 20px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .services_sec .column img {
        max-width: 180px;
        margin: 40px auto 0;
    }

    .services_sec .column p {
        font-size: 35px;
        margin: 0 0 20px;
    }

    .services_sec {
        padding: 0 20px 20px;
    }
}